{% extends "nav.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'About_Us.css' %}">
{% endblock head %}

{% block body %}

    <div class="main_div">
        <div class="page_two_about">
            <div class="page_two_text_about">
                <h1> <span style="font-weight: 100;">India’s Beloved</span> <br> <b>Bike Taxi Service</b></h1>
                <p><b>We are not an option, we are a choice</b><br>We're #1 choice of 10 Million people because we're the
                    <br>solution of India's intra-city commuting problems. With<br>assured safety, we also provide economically priced
                    <br>rides. <br><br>
                    <b>What makes us different?</b> <br>Our bike taxis can dodge the traffic during peak hours<br> and get you to the destination in a jiffy! So when you think <br> travel, think Ridease.
                </p>

            </div>

            <div class="page_two_background_about">
                <div class="page_two_images_about">

                    <div class="page_two_image_one_about">

                        <img src="{% static "Photos/about_us_1.png" %}" id="radius">
                        <h1> </h1>

                    </div>

                    <div class="page_two_img_two_about">
                        <h1> </h1>
                        <img src="{% static "Photos/about_us_2.png" %}" >
                    </div>
                </div>
            </div>

        </div>


        <div class="page2">

            <div class="page2_circle">

                <div class="page2_text">
                    <h1>Champions of our success story</h1>
                    <p>Ridease has come a long way ever since its inception <br> in 2015. With a lot of hardwork and perseverance we have <br> made a place for ourselves in the market. As a brand <br> and as a service, it is our constant endeavour to<br>                        redefine ourselves.</p>
                </div>

                <div class="page2_images">

                </div>


            </div>
        </div>




        <div class="page3">
            <div class="page3_background">
                <div class="page3_text_aboutUs">
                    <span>Jobs @ Ridease</span>
                    <p>Join us in exploring a world of endless opportunities. Let’s find a spot for you.</p>
                    <button>Work with us</button>
                </div>
            </div>
        </div>


        
    </div>

{% endblock body %}
