{% extends "nav.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block body %}
    <h1>Bike Taxi Driver Registration</h1>
    <form action="{% url 'addDriver' %}" method="post">
        <fieldset>
            <legend>Personal Information</legend>
            <label for="fullname">Full Name:</label>
            <input type="text" id="fullname" name="fullname" required><br>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required><br>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select><br>
            <label for="phone">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="address">Address:</label>
            <textarea id="address" name="address" required></textarea><br>
        </fieldset>

        <fieldset>
            <legend>Identification</legend>
            <label for="license">Driver's License Number:</label>
            <input type="text" id="license" name="license" required><br>
            <label for="vehicle_reg">Vehicle Registration Number:</label>
            <input type="text" id="vehicle_reg" name="vehicle_reg" required><br>
        </fieldset>

        <fieldset>
            <legend>Bank Account Information</legend>
            <label for="bank_name">Bank Name:</label>
            <input type="text" id="bank_name" name="bank_name" required><br>
            <label for="account_number">Account Number:</label>
            <input type="text" id="account_number" name="account_number" required><br>
            <label for="routing_number">Routing Number:</label>
            <input type="text" id="routing_number" name="routing_number" required><br>
        </fieldset>

        <fieldset>
            <legend>Vehicle Details</legend>
            <label for="vehicle_make">Vehicle Make:</label>
            <input type="date" id="vehicle_make" name="vehicle_make" required><br>
            <label for="vehicle_model">Vehicle Model:</label>
            <input type="text" id="vehicle_model" name="vehicle_model" required><br>
            <label for="vehicle_color">Vehicle Color:</label>
            <input type="text" id="vehicle_color" name="vehicle_color" required><br>
        </fieldset>

        <fieldset>
            <legend>Agreements and Contracts</legend>
            <label for="agreement">I agree to the terms and conditions:</label>
            <input type="checkbox" id="agreement" name="agreement" required><br>
        </fieldset>

        <input type="submit" value="Submit">
    </form>
{% endblock body %}