{% extends "nav.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block head %}
    <link rel="stylesheet" href="{% static 'Contact Us.css' %}">
{% endblock head %}

{% block body %}

<div class="main_div">

    <div class="container_div">

        <div class="Contact_Us_Form_div">
            <h1>You can find us here</h1>
            <br>

            <p style=" color: #525250; font-size: 20px;">Find help for your queries here:</p>
            <br>
            <form action="{% url 'addcontact' %}" method="post"> <!-- Update the action attribute with the appropriate URL -->
                {% csrf_token %}
                <br>
                <p>Name </p>
                <input type="text" name="name" placeholder="Enter your Name" required>

                <br><br>
                <p>Email Address </p>
                <input type="email" name="email" placeholder="Enter your Email" required>

                <br><br>
                <p>Phone Number </p>
                <input type="tel" name="phone_number" placeholder="Enter your Phone Number" required>

                <br><br>
                <p>You are a</p>
                <select name="user_type" required>
                    <option value="Captain">Captain</option>
                    <option value="Customer">Customer</option>
                </select>

                <br><br>
                <p>Select Query </p>
                <select name="query_type" required>
                    <option value="How to join Ridease as a Driver">How to join Ridease as a Driver</option>
                    <option value="Driver Account Activation Request">Driver Account Activation Request</option>
                    <option value="Driver Account Deactivation Request">Driver Account Deactivation Request</option>
                    <option value="Document Change Request">Document Change Request</option>
                    <option value="Mobile Number change Request">Mobile Number change Request</option>
                    <option value="Unable to Login to Ridease Driver Account">Unable to Login to Ridease Driver Account</option>
                    <option value="I need help to register as a caption">I need help to register as a caption</option>
                    <option value="Other">Other</option>
                </select>

                <br><br>
                <p>Comment </p>
                <textarea rows="5" cols="60" name="comment" placeholder="Enter Comment " required></textarea>

                <br><br>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div class="Contact_Us_Address_div">

            <img src="{% static 'Photos/y_p.svg' %}">
            <h4 style="margin-top: -5px;">Registered Office Address:</h4>
            <br>
            <p>Roppen Transportation Services Pvt Ltd,<br>3rd Floor, Sai Prithvi Arcade, Megha Hills, Sri Rama Colony, Madhapur, Hyderabad - <br>500081.</p>

            <br><br><br>
            <h4>Head Office:</h4><br>
            <p>Roppen Transportation Services Pvt Ltd,<br> #148, 1st Floor, SLV Nilaya, 5th Main 80ft<br> road, HSR Layout 7th Sector, Bangalore<br> 560102.</p>

            <br><br><br>

            <h4>Corporate Office:</h4>
            <br>
            <p>Roppen Transportation Services Pvt Ltd<br> (Ridease), Salarpuria Softzone, Wing C, First<br> floor, Office 1, Block A, Bellandur Village, <br>Varthur Hobli, Bangalore South Taluk, Outer Ring Road, Bhatkal-560103.
            </p>
        </div>
    </div>
    <br><br><br><br><br><br><br><br>
</div>
{% endblock body %}
